h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit Variable", sans-serif;
  font-weight: 400;
  margin: 0;
}
body {
  font-family: "Fraunces Variable", serif;
  margin: 0;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
.theme-toggle-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}
.common-dialog-content {
  padding: 1rem !important;
}
.common-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
